body {
  margin: 0;
  font-family: 'cursive', sans-serif;
  background-image: url("https://media.istockphoto.com/id/1124728680/fr/photo/homme-et-femme-assise-au-bord-de-la-mer-sembrasser-au-coucher-du-soleil-au-pied-de-la-plage.jpg?s=612x612&w=0&k=20&c=Mgu8o_LIx3mwRyzYLS-gFKfv7H7g177KoMMn4Raoka4=");
  color: #003366;
  text-align: center;
  padding: 2em;
}

.hidden {
  display: none;
}

#login-screen, #main-screen {
  max-width: 400px;
  margin: auto;
}

input[type="text"], input[type="file"] {
  padding: 0.5em;
  width: 90%;
  margin: 1em 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5em 1em;
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em;
}

button:hover {
  background-color: #287bb5;
}

.gage {
  background: white;
  margin: 1em 0;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}

.gage:hover {
  transform: scale(1.02);
}

.gage.grise {
  background: #eee;
  color: #999;
}

.gage img {
  max-width: 100px;
  margin-top: 10px;
}
